.aside-panel {
    height: 100%;
    position: absolute;
    left: -120px;
    width: 120px;
    /*border: 1px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;*/
    color: red;
}  